.center{
  text-align: center;
}

.underline {
    background-color: #ffd42a;
    margin-bottom: 15px;
    display: block;
    content: "";
    height: 2px;
    width: 70px;
}

p:first-child{
  margin-top: 0;
}

// IMG
img{
  max-width: 100%;
  margin-bottom: 1em;
}


// VIDEO CONTAINER
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}