// Colors
$red: #ed2b34;
$blue: #30388f;
$yellow: #ffd42a;

$primary: $red;
$secondary: $blue;
$accent: $yellow;

$text-color: #333;



// Typography
$base-font-family: "news-gothic-std",sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$base-line-height: 1.6;

$heading-font-family: "industry", sans-serif;
$heading-font-weight: 900;
