.navbar {
  border-radius: 0;
  height: 62px;
  margin-bottom: 0;
  @media screen and (max-width: 766px) {
    height: 50px;
  }
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background-color: #222;
}

@media screen and (max-width: 1200px) {
  .navbar-nav > li {
    float: left;
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-nav > li {
    float: left;
    font-size: 12px;
  }
}

@media screen and (max-width: 766px) {
  .navbar-nav > li {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 48px;
  }
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-btn {
  margin-top: 12px;
  background-color: #ed2b34;
  border-color: #ed2b34;
  color: #fff;
  @media screen and (max-width: 766px) {
    margin: 10px 10px 0 10px;
  }
}