// https://medium.com/@_jh3y/how-to-creating-a-css-overlay-for-a-circular-image-5e168f9c0895#.5ya9soxle
.image-wrapper {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 0, 0,.25);
    color: #fff;
    display: none;
  }
  &:hover .image-overlay {
    display: block;
  }
}

.image-wrapper .image-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-top: -10px;
  margin-left: -75px;
}

.quote-text{
  font-size: 1.5em;
  font-family: "industry", sans-serif;
  display: block;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  z-index: 10;
}
.quote-text:before{
    text-align: left;
    color: #e6e9ee;
    opacity: 0.3;
    filter: alpha(opacity=30);
    content: open-quote;
    font-size: 8em;
    line-height: 0.1em;
    position: absolute;
    top: .25em;
    left: -.15em;
    z-index: -10;
}
.quote-name{
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0;
}
.quote-name span{
  font-family: "industry", sans-serif;
}
.quote-credentials{
  margin-top: 0;
}