.btn{
  border-radius: 0;
  font-size: 1.125em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all .2s ease;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
}

.btn-primary{
  background: $primary;
  border-color: $primary;
  &:hover{
    background: darken($primary, 15%);
    border-color: $primary;
  }
}

.btn-accent{
  background: $accent;
  border: $accent;
  &:hover {
    background: darken($accent, 10);
  }
}