section{
  padding: 3em 0;
}

.main{
  //margin-top: 50px;
}


// HERO
.hero {
  margin-top: -20px;
  background: url('http://localhost/iRacing/iRacing-WP/wp-content/uploads/2016/01/hero-bg-3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-overlay {
  //padding: 2em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 14em 0;
}

section.hero {
    padding: 0;
    text-align: center;
  }
.hero h1 {
  font-size: 3em;
  margin-bottom: 0em;
  @media screen and (max-width: 766px) {
    line-height: 1em;
  }
}
.lead {
  font-size: 2em;
  margin-top: 0;
}